body{
    font-family: 'Arial', Helvetica, sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

form{
    padding: 1rem 10rem;
}

input[type="radio"]{
    accent-color: #0b78e3;
}
input[type="radio"]:hover {
  cursor: pointer;
  
}